---
title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
#instalamos librerias
library(caret)

#cargamos los datos

bh <- read.csv("../Desktop/sebastian/r studio/cheat sheet/boston-housing-logistic.csv.txt")


# cambiamos a factor

bh$CLASS <- factor(bh$CLASS, levels = c(0,1))

# cargamos una semilla

set.seed(2018)


#creamos una particion de datos

t.id <-  createDataPartition(bh$CLASS, p= 0.7 , list = FALSE)

# creamos el modelo

mod <- glm(CLASS ~ . , data = bh[t.id,], family = binomial)

# vemos el modelo

summary(mod)

# buscamos la probabilidad de exito

bh[-t.id,"prob_success"] <- predict(mod, newdata = bh[-t.id,], type = "response")

# creamos nueva variable binomial para las prob > 0.5

bh[-t.id, "pred_50"] <-  ifelse(bh[-t.id, "prob_success"]>=0.5, 1, 0)

# creamos matriz de confusion 

table(bh[-t.id,"CLASS"], bh[-t.id,"pred_50"], dnn = c("actual", "predicho"))
